*,*::after,*::before{

}

html{
    font-size: 62.5%;
}
body{
    font-size: 1.6em;
    line-height: 1.4;
}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.container-fluid{
    padding:0px;
}